.message-container {
  position: relative;
  width: 80%;
  
}
.message-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffefddd1;
  border-radius: 32px;
  filter: blur(4px);
  z-index: -1;
}
.message-container p {
  padding: 10px 20px;
  color: #72514c;
}
.message-container button {
  position: absolute;
  top: -29px;
  right: -16px;
  background: none;
  color: #842717;
  font-size: 4rem;
  cursor: pointer;
  padding: 0 10px;
}
.message-container button:focus {
  outline: none;
}