.icon-container {
  width: 100px;
  height: 100px;
  animation: waves 2s linear infinite reverse;
  background-color: #88716D;
  filter: drop-shadow(0px 0px 8px #88716D);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 140%;
  height: 140%;
  background-image: url(../assets/icons/arrow-01.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes waves {
  0% {
    border-radius: 49% 51% 49% 51% / 47% 50% 50% 53% ;
  }
  30% {
    border-radius: 67% 33% 69% 31% / 23% 69% 31% 77%  ;
  }
  60% {
    border-radius: 30% 70% 34% 66% / 38% 52% 48% 62% ;
  }
  100% {
    border-radius: 49% 51% 49% 51% / 47% 50% 50% 53% ;
  }
}